body {
  font-size: 1.1rem;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../assets/body.png");
  background-color: #eee;
  background-attachment: fixed;

    counter-reset: foot;  
 font-style: roman;
}

.allcontent{
  max-width: 1600px;
  border-right: 1px var(--bs-light) solid ;
  background-color: rgba(255, 255, 255, 0.80);
  font-size: 1.2rem;
  line-height: 1.5;
  overflow: hidden;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}



h2.accordion-header{
  font-weight: bold;
}

#maincontent> h1:not(#part0){
  padding-top: 50px;
  margin-bottom: 20px;
  border-bottom: 1px lightgrey solid;
}

#maincontent> h2{
  padding-top: 40px;
  margin-bottom: 20px;
  color: var(--bs-UCSB-navy);
}

#maincontent> h3{
  color: var(--bs-gray-dark);
  padding-top: 20px;
  margin-bottom: 10px;
  clear: none;
}

h1,h2, h6{
  clear:both;
}

#maincontent> p{
  text-indent: 1rem;
  padding-left: 1rem;
}



h2~ul, h3~ul{
  margin-top:-10px!important;
}

h1:not(#part0)~ul{
  margin-top:-21px;
  border-top:0px solid black;

}

.Intro .Materials{

  border: 0px black solid!important;

  background-color: rgba(0, 0, 0, .0);
  margin:0px!important;
}
.Intro .Materials > li{

 padding-bottom: 5px;
}


@media (min-width: 992px) {
  .nav-buffer {
    padding-left: 360px !important;
   
  }


}

.navbar-toggler:focus {
 box-shadow: 0 !important;
}



/*
 * Sidebar
 */


.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 44px 0 0; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
  /* or add it to the track */
}

.sidebar::-webkit-scrollbar-thumb{
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-right: gray 1px;
  /* or add it to the track */
}

.Equation .card-body{
  overflow-x: scroll;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#sidebarMenu {
  width: 350px
}

@media (max-width: 992px) {
  #sidebarMenu {
    left: -350px
  }
  .offcanvas-collapse {
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  visibility: hidden;
  background-color: #343a40;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
  visibility: visible;
  transform: translateX(100%); 
  }
 }

.image_crop{
  height:100%;
  overflow: hidden;
}

.image_crop img{
  width:150px;
  height:150px;
 object-fit: cover!important;
}


.text-responsive:not(h5) {
  font-size: calc(0.55rem + 0.6vw)!important;
}


h5.text-responsive{
  font-size: calc(0.9rem + 0.6vw)!important;
}

