@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-35Light.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-35Light.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-35Light.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-35Light.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-35Light.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-35LightOblique.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-35LightOblique.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-35LightOblique.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-35LightOblique.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-35LightOblique.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-45Book.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-45Book.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-45Book.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-45Book.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-45Book.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-45BookOblique.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-45BookOblique.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-45BookOblique.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-45BookOblique.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-45BookOblique.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-55Roman.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-55Roman.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-55Roman.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-55Roman.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-55Roman.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-55Oblique.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-55Oblique.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-55Oblique.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-55Oblique.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-55Oblique.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-65Medium.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-65Medium.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-65Medium.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-65Medium.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-65Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-65MediumOblique.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-65MediumOblique.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-65MediumOblique.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-65MediumOblique.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-65MediumOblique.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-85Heavy.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-85Heavy.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-85Heavy.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-85Heavy.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-85Heavy.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-85HeavyOblique.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-85HeavyOblique.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-85HeavyOblique.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-85HeavyOblique.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-85HeavyOblique.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-95Black.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-95Black.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-95Black.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-95Black.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-95Black.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir/AvenirLTW04-95BlackOblique.eot?#iefix);
    src: url(fonts/Avenir/AvenirLTW04-95BlackOblique.eot?#iefix) format("eot"), url(fonts/Avenir/AvenirLTW04-95BlackOblique.woff2) format("woff2"), url(fonts/Avenir/AvenirLTW04-95BlackOblique.woff) format("woff"), url(fonts/Avenir/AvenirLTW04-95BlackOblique.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
    font-stretch: normal
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt/Produkt-Thin-Web.eot);
    src: url(fonts/Produkt/Produkt-Thin-Web.eot?#iefix) format('embedded-opentype'), url(fonts/Produkt/Produkt-Thin-Web.woff2) format('woff2'), url(fonts/Produkt/Produkt-Thin-Web.woff) format('woff');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt/Produkt-Extralight-Web.eot);
    src: url(fonts/Produkt/Produkt-Extralight-Web.eot?#iefix) format('embedded-opentype'), url(fonts/Produkt/Produkt-Extralight-Web.woff2) format('woff2'), url(fonts/Produkt/Produkt-Extralight-Web.woff) format('woff');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt/Produkt-Light-Web.eot);
    src: url(fonts/Produkt/Produkt-Light-Web.eot?#iefix) format('embedded-opentype'), url(fonts/Produkt/Produkt-Light-Web.woff2) format('woff2'), url(fonts/Produkt/Produkt-Light-Web.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt/Produkt-Regular-Web.eot);
    src: url(fonts/Produkt/Produkt-Regular-Web.eot?#iefix) format('embedded-opentype'), url(fonts/Produkt/Produkt-Regular-Web.woff2) format('woff2'), url(fonts/Produkt/Produkt-Regular-Web.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt/Produkt-Medium-Web.eot);
    src: url(fonts/Produkt/Produkt-Medium-Web.eot?#iefix) format('embedded-opentype'), url(fonts/Produkt/Produkt-Medium-Web.woff2) format('woff2'), url(fonts/Produkt/Produkt-Medium-Web.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt/Produkt-Semibold-Web.eot);
    src: url(fonts/Produkt/Produkt-Semibold-Web.eot?#iefix) format('embedded-opentype'), url(fonts/Produkt/Produkt-Semibold-Web.woff2) format('woff2'), url(fonts/Produkt/Produkt-Semibold-Web.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt/Produkt-Bold-Web.eot);
    src: url(fonts/Produkt/Produkt-Bold-Web.eot?#iefix) format('embedded-opentype'), url(fonts/Produkt/Produkt-Bold-Web.woff2) format('woff2'), url(fonts/Produkt/Produkt-Bold-Web.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt/Produkt-Black-Web.eot);
    src: url(fonts/Produkt/Produkt-Black-Web.eot?#iefix) format('embedded-opentype'), url(fonts/Produkt/Produkt-Black-Web.woff2) format('woff2'), url(fonts/Produkt/Produkt-Black-Web.woff) format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: Produkt;
    src: url(fonts/Produkt/Produkt-Super-Web.eot);
    src: url(fonts/Produkt/Produkt-Super-Web.eot?#iefix) format('embedded-opentype'), url(fonts/Produkt/Produkt-Super-Web.woff2) format('woff2'), url(fonts/Produkt/Produkt-Super-Web.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal
}