// Custom.scss
// Option B: Include parts of Bootstrap
.avenir-light {
    font-family: Avenir, "Century Gothic", sans-serif; 
    font-weight:100; 
    font-style:normal;
  }
  
  .avenir-black-oblique {
    font-family:Avenir, "Century Gothic", sans-serif; 
    font-weight:600; 
    font-style:italic; 
  }
  
  .produkt-thin {
    font-family:Produkt, serif; 
    font-weight:100; 
    font-style:normal;
  }

  $font-weight-bolder:          800 ;
  $lead-font-weight:            100;
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here


$UCSB-navy: #003660;
$UCSB-gold: #FEBC11;
$UCSB-aqua: #04859B;
$UCSB-moss: #7A8D39;
$UCSB-seagreen: #0BA89A;
$UCSB-coral: #EF5645;
$UCSB-mist: #9CBEBE;
$UCSB-clay: #DCD6CC;
$UCSB-sandstone: #C9BF9D;
$UCSB-lightgray: #DCE1E5;
$caution:tint-color($UCSB-gold,70%);


$light : tint-color($UCSB-lightgray,80%);
$dark: shade-color($UCSB-navy,60%);
$component-active-bg: $UCSB-aqua;



$input-btn-focus-width: 0.1rem;
$card-cap-bg:                       rgba(black, .15) !default;


$custom-colors: (
  "UCSB-navy": #003660,
  "UCSB-gold": #FEBC11,
  "UCSB-aqua": #04859B,
  "UCSB-moss": #7A8D39,
  "UCSB-seagreen": #0BA89A,
  "UCSB-coral": #EF5645,
  "UCSB-mist": #9CBEBE,
  "UCSB-clay": #DCD6CC,
  "UCSB-sandstone": #C9BF9D,
  "UCSB-lightgray": #DCE1E5,
  "black": black,
  "caution": tint-color($UCSB-gold,70%)
);

$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      25: .25,
      50: .5,
      75: .75,
      100: 1,
    )
  )
 );

// SPACER

$dropdown-divider-margin-y:         1px ;

// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
 


$font-family-sans-serif:      "Avenir", Roboto , -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       "Produkt", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-weight-base:            280;


$accordion-padding-y:                     0.75rem;
$accordion-padding-x:                     1rem;
$accordion-color:                         $body-color;
$accordion-bg:                            $body-bg;
$accordion-border-width:                  $border-width;
$accordion-border-color:                  rgba($black, .125);
$accordion-border-radius:                 0 px;
$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);

$accordion-body-padding-y:                $accordion-padding-y;
$accordion-body-padding-x:                $accordion-padding-x;

$accordion-button-padding-y:              $accordion-padding-y;
$accordion-button-padding-x:              $accordion-padding-x;
$accordion-button-color:                  $accordion-color;
$accordion-button-bg:                     $accordion-bg;
$accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg:              $UCSB-lightgray;
$accordion-button-active-color:           shade-color($primary, 10%);

$accordion-button-focus-border-color:     $input-focus-border-color;
$accordion-button-focus-box-shadow:       $btn-focus-box-shadow;

$accordion-icon-width:                    1.25rem;
$accordion-icon-color:                    $accordion-color;
$accordion-icon-active-color:             $accordion-button-active-color;
$accordion-icon-transition:               transform .2s ease-in-out;
$accordion-icon-transform:                rotate(-180deg);


pre {
    border: $accordion-border-color $border-width solid;
    
    margin: auto;
    background-color: $UCSB-lightgray;
    padding: 5px;
    white-space: pre-wrap; 
  };

code{
    background-color: $UCSB-lightgray;
    word-wrap: break-word;
}

@media (min-width: map-get($grid-breakpoints, "sm" )){ 
    pre{
    max-width: 70%;
    }
}

$card-border-width: 0px;
.card{
    box-shadow: 1px 1px 5px 2px $UCSB-lightgray;
    .katex{
        font-size: 1.3rem
    }
}

// 4. Include any optional Bootstrap components as you like
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Add additional custom code here
@import "../bootstrap/scss/bootstrap";










/////////////////////////////////////////////////////////////////// 
//ACC Modify

#navcordion ul li a{
 padding-left:30px;
 margin-bottom: -1px;
 background-color: $light;
}



.ac-top, .ac-top:focus, .ac-top:active{
    background-color: $UCSB-navy;
    color: $light;
    
}

.ac-top:not(.collapsed){
    background-color: $dark;
    //color: $UCSB-gold;
    color:white;
}


.ac-top::after, .ac-top.ac-top:not(.collapsed)::after{
    background-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.ac-heads{
    font-size: 1.1rem;  
    background-color: tint-color($UCSB-lightgray,10%); 
    
    span{
        color:$dark
    }
    box-shadow: none!important;
}

.ac-heads:active,.ac-heads:focus{
    color:$dark;
}


.ac-min, .ac-min:active{
    background-color: white;
    border-bottom: 1px solid $light ;
    font-size: smaller;
    background-color: tint-color($UCSB-lightgray,50%);

}
.ac-min:hover{
    background-color: shade-color(tint-color($UCSB-gold,90%),10%);
    border-bottom: 1px solid $light ;

}

.ac-min> ul > li >a{
    padding-left: 1px;
}
.ac-list > a:hover{
    background-color: shade-color(tint-color($UCSB-gold,90%),5%)!important;
}



/////////////////////////////////////////////////////////////////// 
//CONTAINERS

$materials-bg: shade-color($UCSB-mist,5%);
$definition-bg: tint-color($UCSB-navy,95%);
$figure-bg: tint-color($UCSB-sandstone,95%);

$hider-bg:  $UCSB-moss;
$Activity-bg: shade-color(tint-color($UCSB-coral,20%),30%);
$eqn-bg: tint-color($UCSB-navy,85%);
$Exercise-header-bg:shade-color($UCSB-seagreen,10%);
$intro-bg: $UCSB-navy;
$simulation-bg:$UCSB-mist;


//def
.card-but{
    font-size: 1.5rem!important;
}

///Intro/////////////////////////////
.Intro{
    background-color: tint-color($intro-bg,80%);
    color:$dark;
    font-size: 1.2rem!important;

    ol, ul{
        text-align: left
    }

    > .card-header{
     color:white;
     background-color: $intro-bg
    }
 };


 .Summary{

    background-color: tint-color($intro-bg,80%);
    > .card-header{
        color:white;
        background-color: $intro-bg
       }

       ol> li, ul> li{
        text-align: left
    }
 }


///Materials/////////////////////////////
 .Materials{
    background-color:rgba(white, .2);
    color:$dark;


    ul{
        font-size: 90%;
    };

    > .card-header{
        color:$dark;
        background-color: $materials-bg;
       }
 };


 .Definition{
    background-color: $definition-bg;
    color:$dark;
    font-size: 1.1rem!important;
    ul{
        font-size: 95%;
    };

    .card-header{
        background-color: tint-color($UCSB-gold,50%);
    }
    .card-body{
        font-size: 1rem
    }
    clear: none !important;
    .katex{
        font-size: 1.15rem;
    }
 };

 .Prelab{
    background-color: $light;
    color:$dark;

    ul{
        font-size: 90%;
    };

    .card-header{
        background-color: shade-color(tint-color(red,20%),20%);
        color:white
    }
 };


///Hider////
.Hider{
    button{
        border: 0px solid black;
        width: 100%;
        background-color:tint-color($hider-bg,75%);
     };
    button:active, button:focus{
        border: 0px solid black;
        width: 100%;
        color:$dark;
        background-color: tint-color($hider-bg,40%);
        box-shadow: none!important;

    };
    button:not(.collapsed){
        border: 0px solid black;
        width: 100%;
        color:$dark;
        background-color: tint-color($hider-bg,30%)!important;
     };

    .card-but{
        font-size: 1.3rem!important;
        font-weight: normal;
        padding-right:10px;   
    }
    p{
        text-indent: 1rem}
};

///Hider////


//Simulation
.Simulation{
    button{
        border: 0px solid black;
        width: 100%;
        background-color:tint-color($simulation-bg,75%);
        box-shadow: none!important;

     };
    button:active, button:focus{
        border: 0px solid black;
        width: 100%;
        color:$dark;
        background-color: tint-color($simulation-bg,40%);
        box-shadow: none!important;

    }; 
    button:not(.collapsed){
        border: 0px solid black;
        width: 100%;
        color:$dark;
        background-color: tint-color($simulation-bg,100%)!important;
     };

    .card-but{
        font-size: 1.3rem!important;
        font-weight: normal;
        padding-right:10px;   
    }
};


///Equation
.Equation{
    background-color: $eqn-bg;
    .card-footer{
        color: black;
    }   
}



///
.Contact, .Drop{
    button:after{
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")

    }
    button:active:after,  button:focus:after{
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")

    }
}

.col-card{
    border-radius: 5px!important;
    button{
    border: 0px solid black;
    width: 100%;
    box-shadow: none!important;
    border-radius: 0.25rem!important;

    };
    button:not(.collapsed){
        border: 0px solid black;
        border-bottom-left-radius: 0.0rem!important;
        border-bottom-right-radius: 0.0rem!important;
     };
}
///Activity
.Activity {
    border-radius: 5px!important;
    button{
    border: 0px solid black;
    width: 100%;
    background-color:shade-color($Activity-bg,10%);
    box-shadow: none!important;
    border-radius: 0.25rem!important;
    color: white;
    };
    button:after{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")
   
    }

    button:active, .Activity button:focus{
        border: 0px solid black;
        width: 100%;
        color:white;
        background-color: tint-color($Activity-bg,5%);
        box-shadow: none!important;
        

     };

     button:not(.collapsed){
        border: 0px solid black;
        width: 100%;
        color:white;
        background-color: shade-color($Activity-bg,5%);
        border-bottom-left-radius: 0.0rem!important;
        border-bottom-right-radius: 0.0rem!important;
     };
     button:not(.collapsed):after{
        background-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
     }
    

    .card-but{
        font-size: 1.5rem;
    }

    ol li::marker{
        font-weight: bold;
    }

}

.badge-Activity{
    background-color: $Activity-bg;
    font-size: 1.3rem;
}
.badge-Activity:hover{
    background-color: tint-color($Activity-bg,20%);

}

///Exercise


.Exercise{
    text-align: center;
    .card-header{
        background-color: $Exercise-header-bg;
        color:white;
        border:0;
    }

    ol, ul{
        text-align: left;
        li{
            padding: 0.3rem 0px;
        }
        li::marker{
            font-weight: bold;
        }
    }

    ol{ 
        list-style-type: lower-alpha!important;
      }

    img{
        margin: auto;
        text-align: center;
    }

}
.badge-Exercise{
    background-color: $Exercise-header-bg;
    font-size: 1.3rem;
}
.badge-Exercise:hover{
    background-color: tint-color($Exercise-header-bg,20%);

}
//Video
.Video {

    background-color: tint-color($UCSB-navy,50%);
    border:0px solid black;
    border-radius:$border-radius!important;
    
    .card-footer, .card-header{
        background-color: $UCSB-navy;
        color:white;
    }

    .card-body{
        padding:0!important;
        border-radius:$border-radius!important;
    }

   
}

//Note

.Note{
    // transform:rotate(2deg);
    // font-family: 'Comic Sans Ms', "Comic Sans", cursive;
    font-size: 1rem;
    color: shade-color($UCSB-lightgray,70%);
    text-indent: 0.25rem;
    // i{
    //     transform:rotate(45deg) translateY(-40px) ;
    // }
    .card-header{
        border:none;
        display: none;
    }
    .card-footer{
        border:none;
        display: none;
    }
    p{
        margin: 0px;
    }

    ol > li, ul >li{
        text-align: left;
    }


    background-color: tint-color($warning,80%);
    border-left: 8px $warning solid!important;
}

.Warning{

    font-family: 'Impact', 'Arial';
    margin-top:50px;
    

    .card-header{
        background-color: rgba($black, .0);
        border:none;
    }
}
///Figure//////////////////////////////
 .Figure{
    background-color: $figure-bg;
    color:$dark;
    text-align: center;
    justify-content: center;
    max-width: 95%;
    

    img{
        max-width: 100%;
    }
    ul, ol{ 
        font-size:  0.85rem;
        text-align: left
    };

    p{
        margin: auto;
        max-width:100%;
        display: block;
        overflow: hidden;
        font-size: 0.85rem;
    }

    .katex{
        font-size: 100%!important
    }
   
 };

 



.xs, .s, .m, .l, .xl{
    margin:auto;
}

 @media (min-width: map-get($grid-breakpoints, "lg" )){ 

    .Note.float-lg-start{
        margin:0rem 1.2rem 0rem 0rem!important
      }
      
      
    .Note.float-lg-end{
    margin:0rem 0rem 0rem 1.2rem!important
    }
    .modal-body img{
        max-height: calc(100vh - 180px);
    }
  
    .Figure{
        max-width:80%;
    }
    .xs.Figure:not(.rowfig), .xs img{
        max-width:min(10rem, 100%);
    }
    .s.Figure:not(.rowfig), .s img{
        max-width: min(15rem, 100%);
        margin: auto;
    }
    .m.Figure:not(.rowfig), .m img{
        max-width: min(20rem, 100%);
        margin: auto;
    }
    .l.Figure:not(.rowfig), .l img{
        max-width: min(25rem, 100%);
        margin: auto;
    }
    .xl.Figure:not(.rowfig), .xl img {
        max-width: min(40rem, 100%);
        margin: auto;
    }
 }
 .Figure img{
    display: block;
    margin: 10px auto;
    clear: both;
 }
 .Figure:not(.rowfig) img{
    max-width:100%;
 }





///Collapse/////////////////////////////



////Specific
#part0{
    font-family: "Produkt", var(--bs-font-monospace);
    font-size: 1em;
    font-weight: 400;
    direction: ltr /* rtl:ignore */;
    unicode-bidi: bidi-override;
    margin:  20px auto;
    display: block;
    text-align: center;
    //text-decoration: underline;
    font-size: 3rem;
    border-bottom: 1px lightgrey solid
}


///Quick Hacks
h5 > button{
    box-shadow: none!important;
}


.row ul{
    display: block;
    margin-left:0px;
}


img:hover{
    cursor: pointer;
}


///Animate
.hshaker{
    animation: hshake 1.82s cubic-bezier(.16,.17,.19,.37) both;
    animation-iteration-count: infinite;
  }
  
.hshaker:hover{
        animation-iteration-count: 0;
  }

@keyframes hshake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }  
    40%, 60% {
      transform: translate3d(1px, 0, 0);
    }
  }


  .rotor{
    animation: rotor 0.82s  both;
    animation-iteration-count: infinite;
  }
  

  @keyframes rotor {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    85% { transform: rotate(25deg); }
    95% { transform: rotate(-25deg); }
   100% { transform: rotate(0deg); }
  }


  /* Tooltip container */
.mytooltip {
    position: static;
    display: inline;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    cursor: pointer;
  };
  
  .mytooltip sup::before{
    counter-increment: foot;
    content: '[' counter(foot) ;
  };
  
  /* Tooltip text */
  .mytooltip + .tooltiptext {
  
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    max-width:100%;
    /* Position the tooltip text */
    position:fixed;
    bottom: -500px;
    transition: all 5s ease;
    transition-delay: 8s;
    border: black 8px solid;
    text-indent: 0;
    z-index: 1080;
    display: block;
    cursor: pointer;
  };

  /* Show the tooltip text when you mouse over the tooltip container */
   .mytooltip:active + .tooltiptext, .mytooltip:focus + .tooltiptext{
    opacity: 1;
    display: block;
    bottom:5px;
    transition: opacity 1s ease;
    z-index:2;
  };
  

  
  .tooltiptext p{
   background-color: black;
  };


 
  #maincontent{
    > ul, > ol{
        padding-left: 5rem;
    }


  }


.card-header p, .card-footer p, .card-header h5, .card-footer h5{
    margin-bottom: 0px!important
}



.Table {
    
    .card-body{
    overflow-x: scroll;
    }
    card-footer{
        max-width: 100%;
    }

    td, th{
        text-align: center;
    }
  }

.card:not(.Note){
overflow-x: hidden;
// font-size: 2rem;
}



.Equation .card-body::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-right: gray 1px;
  /* or add it to the track */
}

 .Equation .card-body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $eqn-bg;
    /* or add it to the track */
  }


  .Table .card-body::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-right: gray 1px;
  /* or add it to the track */
}

.Table .card-body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: white;
    /* or add it to the track */
  }


.Quiz a:focus{
    background-color: $UCSB-gold;
    border: 0px white solid;
}
.Quiz {
    a{
    width: 100%;
    }
    li, ol, ul{
        border: 0px white solid;
    }
 
    .card-header{
        background-color: $UCSB-sandstone;
    }
    .quiz_ans{
        font-size: 1rem;
    }
}

.katex { font-size: 105%; }
 
